## Obtaining historic weather data using OpenWeather API ##

In [1]:
import requests
import pandas as pd
import numpy as np

In [22]:
# Using OpenWeather API to obtain weather data
base_url = "https://api.openweathermap.org/data/3.0/onecall/day_summary" 
api_key = "*****************************" # Enter your API key

# Function that requests and returns data from the OpenWeather API
def data(lat, lon, date):
    url = f"{base_url}?lat={lat}&lon={lon}&date={date}&appid={api_key}&units=metric"
    response = requests.get(url)

    if response.status_code == 200:
        requested_data = response.json()
        return requested_data
    else:
        print("Not found")

In [2]:
df = pd.read_csv('project_data/full_recommendations_with_coordinates.csv')

In [3]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0,Country,Arrivals,Units,2018,2019,2020,2021,2022,Mean Total Arrivals,Recommendation,latitude,longitude
0,0,2,Albania,total arrivals,thousands,5927.0,6406.0,2658.0,5689.0,7543.8,5644.76,Go,41.153332,20.168331
1,1,8,Algeria,total arrivals,thousands,2657.0,2371.0,591.0,125.0,1398.0,1428.40,Go,28.033886,1.659626
2,2,14,American Samoa,total arrivals,thousands,51.8,58.6,0.9,NaN,NaN,37.10,No Go,-14.270972,-170.132217
3,3,20,Andorra,total arrivals,thousands,8328.0,8235.0,5207.0,5422.0,8426.7,7123.74,Go,42.546245,1.601554
4,4,26,Angola,total arrivals,thousands,218.0,218.0,64.0,64.0,130.0,138.80,No Go,-11.202692,17.873887
5,5,32,Anguilla,total arrivals,thousands,87.0,166.0,41.1,28.7,95.8,83.72,No Go,18.220554,-63.068615
6,6,38,Antigua And Barbuda,total arrivals,thousands,1064.0,1035.0,276.0,250.0,642.4,653.48,Go,NaN,NaN
7,7,44,Argentina,total arrivals,thousands,10394.0,11131.0,3096.0,460.0,7503.0,6516.80,Go,-38.416097,-63.616672
8,8,50,Armenia,total arrivals,thousands,1652.0,1894.0,375.0,870.0,1666.0,1291.40,Go,40.069099,45.038189
9,9,56,Aruba,total arrivals,thousands,1897.0,1951.0,623.0,943.0,1711.0,1425.00,Go,12.521110,-69.968338

### Trialling this function for coordinates in Crete, to ensure the function runs as expected ###

In [ ]:
# # Requesting weather data from 2021-2024 for 6th June in Crete

# dates = ['2024-06-06', '2023-06-06', '2022-06-06', '2021-06-06']

# # API accepts latitude and longitude coordinates. These coordinates are for the centre of Crete.
# def crete_data(dates):
#     lat = 35.24012
#     lon = 24.80927
#     temps = [] 
#     total_rain = []

#     # Looping through each date to find the temperature and rainfall on that day.
#     for i in dates:
#         date = i
#         weather_data = data(lat, lon, date) # defining a variable for previous function.
#         temp_12pm = (weather_data['temperature']['afternoon']) # API docs specify 'afternoon' is 12pm temperature in that country.
#         rain = (weather_data['precipitation']['total'])

#         temps.append(temp_12pm)
#         total_rain.append(rain)

#     # Calculating mean average temperatures and rainfall across the four years
#     avg_temp = round(sum(temps) / len(temps))
#     avg_rainfall = round(sum(total_rain) / len(total_rain), 1)

#     return f" Avg_temp: {avg_temp}°C , Avg_rainfall: {avg_rainfall}mm"


# print(crete_data(dates))


# # Above function results:
# # temps = [28.89, 21.36, 27.84, 25.29]
# # total_rain = [1.19, 0.0, 0.0, 0.0]
# #  Avg_temp: 26°C , Avg_rainfall: 0.3mm

### Testing function with the first row of the dataframe ###

In [10]:
# dates = ['2024-06-06', '2023-06-06', '2022-06-06', '2021-06-06']

# # Requesting weather data from 2021-2024 on 6th June for countries in dataframe
# def trial_weather(dates):
#     temps = [] 
#     total_rain = []

#     # trialling with first index of dataframe
#     lat = df.loc[0,'latitude']
#     lon = df.loc[0,'longitude']
        
#     # Looping through each date to find the temperature and rainfall on that day.
#     for j in dates:
#         date = j
#         weather_data = data(lat, lon, date) # defining a variable for previous function.
#         temp_12pm = (weather_data['temperature']['afternoon']) # API docs specify 'afternoon' is 12pm temperature in that country.
#         rain = (weather_data['precipitation']['total'])

#         temps.append(temp_12pm)
#         total_rain.append(rain)

#     # Calculating mean average temperatures and rainfall across the four years
#     avg_temp = round(sum(temps) / len(temps))
#     avg_rainfall = round(sum(total_rain) / len(total_rain), 1)

#     return f" Avg_temp: {avg_temp}°C , Avg_rainfall: {avg_rainfall}mm"

# print(trial_weather(dates))

 Avg_temp: 28°C , Avg_rainfall: 1.8mm

In [6]:
# Creating new columns to write average temperature and the average rainfall of each country on the 6th June
#every year from 2021-2024
df['avg_temp'] = 0
df['avg_rainfall'] = 0
df['avg_temp'] = df['avg_temp'].astype(float)
df['avg_rainfall'] = df['avg_rainfall'].astype(float)
df

,Unnamed: 0.1,Unnamed: 0,Country,Arrivals,Units,2018,2019,2020,2021,2022,Mean Total Arrivals,Recommendation,latitude,longitude,avg_temp,avg_rainfall
0,0,2,Albania,total arrivals,thousands,5927.0,6406.0,2658.0,5689.0,7543.8,5644.76,Go,41.153332,20.168331,0.0,0.0
1,1,8,Algeria,total arrivals,thousands,2657.0,2371.0,591.0,125.0,1398.0,1428.40,Go,28.033886,1.659626,0.0,0.0
2,2,14,American Samoa,total arrivals,thousands,51.8,58.6,0.9,NaN,NaN,37.10,No Go,-14.270972,-170.132217,0.0,0.0
3,3,20,Andorra,total arrivals,thousands,8328.0,8235.0,5207.0,5422.0,8426.7,7123.74,Go,42.546245,1.601554,0.0,0.0
4,4,26,Angola,total arrivals,thousands,218.0,218.0,64.0,64.0,130.0,138.80,No Go,-11.202692,17.873887,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,193,1160,Uzbekistan,total arrivals,thousands,5346.0,6749.0,1504.0,1881.0,5233.0,4142.60,Go,41.377491,64.585262,0.0,0.0
194,194,1166,Vanuatu,total arrivals,thousands,350.2,256.0,82.4,NaN,65.0,188.40,No Go,-15.376706,166.959158,0.0,0.0
195,195,1172,Viet Nam,total arrivals,thousands,15498.0,18009.0,3837.0,157.0,3661.0,8232.40,Go,0.000000,0.000000,0.0,0.0
196,196,1178,Zambia,total arrivals,thousands,1072.0,1266.0,502.0,554.0,NaN,848.50,Go,-13.133897,27.849332,0.0,0.0
197,197,1184,Zimbabwe,total arrivals,thousands,2580.0,2294.0,639.0,381.0,1044.0,1387.60,Go,-19.015438,29.154857,0.0,0.0

In [7]:
# Filtering no-go destinations to see which API calls are not necessary to make
df[df['Recommendation'] == 'No Go']

,Unnamed: 0.1,Unnamed: 0,Country,Arrivals,Units,2018,2019,2020,2021,2022,Mean Total Arrivals,Recommendation,latitude,longitude,avg_temp,avg_rainfall
2,2,14,American Samoa,total arrivals,thousands,51.8,58.6,0.9,NaN,NaN,37.100000,No Go,-14.270972,-170.132217,0.0,0.0
4,4,26,Angola,total arrivals,thousands,218.0,218.0,64.0,64.000,130.000,138.800000,No Go,-11.202692,17.873887,0.0,0.0
5,5,32,Anguilla,total arrivals,thousands,87.0,166.0,41.1,28.700,95.800,83.720000,No Go,18.220554,-63.068615,0.0,0.0
13,13,80,Bahamas,total arrivals,thousands,6622.0,7250.0,1794.5,2101.000,7000.700,4953.640000,No Go,25.034280,-77.396280,0.0,0.0
17,17,104,Belarus,total arrivals,thousands,11502.0,11832.0,3598.0,3361.000,4920.000,7042.600000,No Go,53.709807,27.953389,0.0,0.0
22,22,134,Bhutan,total arrivals,thousands,274.0,316.0,29.8,0.001,20.900,128.140200,No Go,27.514162,90.433601,0.0,0.0
30,30,182,Burkina Faso,total arrivals,thousands,144.0,143.0,67.0,106.000,116.000,115.200000,No Go,12.238333,-1.561593,0.0,0.0
33,33,200,Cameroon,total arrivals,thousands,997.0,1021.0,616.0,963.000,539.000,827.200000,No Go,7.369722,12.354722,0.0,0.0
35,35,212,Cayman Islands,total arrivals,thousands,2384.0,2334.0,660.0,17.300,1027.700,1284.600000,No Go,19.513469,-80.566956,0.0,0.0
36,36,218,Central African Republic,total arrivals,thousands,109.0,87.0,34.6,NaN,NaN,76.866667,No Go,6.611111,20.939444,0.0,0.0
37,37,224,Chad,total arrivals,thousands,77.0,79.0,11.0,40.000,NaN,51.750000,No Go,15.454166,18.732207,0.0,0.0
41,41,248,Comoros,total arrivals,thousands,35.9,45.1,7.0,28.800,NaN,29.200000,No Go,-11.875001,43.872219,0.0,0.0
42,42,254,Congo,total arrivals,thousands,158.0,NaN,NaN,NaN,NaN,158.000000,No Go,0.000000,0.000000,0.0,0.0
44,44,266,Cook Islands,total arrivals,thousands,169.0,172.0,25.2,26.300,113.600,101.220000,No Go,-21.236736,-159.777671,0.0,0.0
53,53,320,Djibouti,total arrivals,thousands,142.0,167.0,75.0,114.000,145.000,128.600000,No Go,11.825138,42.590275,0.0,0.0
55,55,332,Dominican Republic,total arrivals,thousands,7551.0,7550.0,2748.0,5327.000,8488.800,6332.960000,No Go,18.735693,-70.162651,0.0,0.0
70,70,422,Greece,total arrivals,thousands,33072.0,34005.0,7406.0,15246.000,29876.000,23921.000000,No Go,39.074208,21.824312,0.0,0.0
75,75,452,Guinea-Bissau,total arrivals,thousands,55.0,52.4,NaN,NaN,NaN,53.700000,No Go,11.803749,-15.180413,0.0,0.0
77,77,464,Haiti,total arrivals,thousands,1333.0,938.0,322.0,148.000,NaN,685.250000,No Go,18.971187,-72.285215,0.0,0.0
78,78,470,Honduras,total arrivals,thousands,2323.0,2315.0,669.0,826.000,1911.000,1608.800000,No Go,15.199999,-86.241905,0.0,0.0
84,84,506,"Iran, Islamic Republic Of",total arrivals,thousands,7295.0,9107.0,1550.0,989.000,4108.000,4609.800000,No Go,0.000000,0.000000,0.0,0.0
86,86,518,Israel,total arrivals,thousands,4389.0,4905.0,887.0,402.000,2851.000,2686.800000,No Go,31.046051,34.851612,0.0,0.0
88,88,530,Jamaica,total arrivals,thousands,4319.0,4234.0,1329.7,1535.000,3330.700,2949.680000,No Go,18.109581,-77.297508,0.0,0.0
93,93,560,Kiribati,total arrivals,thousands,9.0,12.0,1.4,0.070,1.800,4.854000,No Go,-3.370417,-168.734039,0.0,0.0
99,99,596,Lebanon,total arrivals,thousands,1964.0,1936.0,414.0,890.000,1466.000,1334.000000,No Go,33.854721,35.862285,0.0,0.0
101,101,608,Liechtenstein,total arrivals,thousands,85.3,98.1,58.4,70.800,100.800,82.680000,No Go,47.166000,9.555373,0.0,0.0
109,109,656,Mali,total arrivals,thousands,203.0,217.0,75.0,168.000,NaN,165.750000,No Go,17.570692,-3.996166,0.0,0.0
111,111,668,Marshall Islands,total arrivals,thousands,6.8,6.1,2.0,0.035,NaN,3.733750,No Go,7.131474,171.184478,0.0,0.0
114,114,686,Mexico,total arrivals,thousands,96497.0,97406.0,51128.0,55301.000,65995.000,73265.400000,No Go,23.634501,-102.552784,0.0,0.0
115,115,692,"Micronesia, Federated States Of",total arrivals,thousands,19.2,18.0,NaN,NaN,NaN,18.600000,No Go,0.000000,0.000000,0.0,0.0
116,116,698,"Moldova, Republic Of",total arrivals,thousands,160.0,174.0,29.0,69.000,162.000,118.800000,No Go,0.000000,0.000000,0.0,0.0
120,120,722,Montserrat,total arrivals,thousands,16.7,19.3,7.7,1.600,NaN,11.325000,No Go,16.742498,-62.187366,0.0,0.0
122,122,734,Mozambique,total arrivals,thousands,2870.0,2033.0,959.0,549.000,879.000,1458.000000,No Go,-18.665695,35.529562,0.0,0.0
123,123,740,Myanmar,total arrivals,thousands,3551.0,4364.0,903.0,131.000,233.000,1836.400000,No Go,0.000000,0.000000,0.0,0.0
130,130,782,Niger,total arrivals,thousands,157.0,192.0,85.0,NaN,NaN,144.666667,No Go,17.607789,8.081666,0.0,0.0
131,131,788,Nigeria,total arrivals,thousands,5254.0,5361.0,1209.0,1246.000,1271.000,2868.200000,No Go,9.081999,8.675277,0.0,0.0
132,132,794,Niue,total arrivals,thousands,10.5,10.2,1.3,0.200,NaN,5.550000,No Go,-19.054445,-169.867233,0.0,0.0
135,135,812,Norway,total arrivals,thousands,5688.0,5879.0,1397.0,1435.000,4979.400,3875.680000,No Go,60.472024,8.468946,0.0,0.0
137,137,824,Palau,total arrivals,thousands,106.0,94.0,18.4,NaN,NaN,72.800000,No Go,7.514980,134.582520,0.0,0.0
139,139,836,Papua New Guinea,total arrivals,thousands,195.0,211.0,39.0,17.000,69.400,106.280000,No Go,-6.314993,143.955550,0.0,0.0
145,145,872,Puerto Rico,total arrivals,thousands,4260.0,4931.0,3882.0,2754.700,3637.500,3893.040000,No Go,18.220833,-66.590149,0.0,0.0
149,149,896,Russian Federation,total arrivals,thousands,24551.0,24419.0,6359.0,NaN,NaN,18443.000000,No Go,0.000000,0.000000,0.0,0.0
154,154,926,Samoa,total arrivals,thousands,172.0,181.0,23.9,2.600,50.600,86.020000,No Go,-13.759029,-172.104629,0.0,0.0
156,156,938,Sao Tome And Principe,total arrivals,thousands,33.4,34.9,10.7,15.100,NaN,23.525000,No Go,0.000000,0.000000,0.0,0.0
160,160,962,Sierra Leone,total arrivals,thousands,66.0,71.0,26.0,44.000,NaN,51.750000,No Go,8.460555,-11.779889,0.0,0.0
165,165,992,Solomon Islands,total arrivals,thousands,27.9,28.9,4.4,0.700,NaN,15.475000,No Go,-9.645710,160.156194,0.0,0.0
167,167,1004,Spain,total arrivals,thousands,124456.0,126170.0,36410.0,51631.000,104968.000,88727.000000,No Go,40.463667,-3.749220,0.0,0.0
169,169,1016,State Of Palestine,total arrivals,thousands,3429.0,4232.0,1000.0,NaN,NaN,2887.000000,No Go,0.000000,0.000000,0.0,0.0
170,170,1022,Sudan,total arrivals,thousands,836.0,NaN,NaN,NaN,NaN,836.000000,No Go,12.862807,30.217636,0.0,0.0
173,173,1040,Syrian Arab Republic,total arrivals,thousands,1802.0,2424.0,479.0,661.000,NaN,1341.500000,No Go,0.000000,0.000000,0.0,0.0
178,178,1070,Timor-Leste,total arrivals,thousands,74.6,80.8,17.9,5.500,NaN,44.700000,No Go,-8.874217,125.727539,0.0,0.0
180,180,1082,Tonga,total arrivals,thousands,77.3,94.0,11.5,0.200,22.300,41.060000,No Go,-21.178986,-175.198242,0.0,0.0
185,185,1112,Tuvalu,total arrivals,thousands,3.1,3.7,0.6,0.040,0.244,1.536800,No Go,-7.109535,177.649330,0.0,0.0
187,187,1124,Ukraine,total arrivals,thousands,14342.0,13710.0,3382.0,4272.000,2307.000,7602.600000,No Go,48.379433,31.165580,0.0,0.0
191,191,1148,United States Virgin Islands,total arrivals,thousands,1922.0,2074.0,862.0,1072.400,NaN,1482.600000,No Go,0.000000,0.000000,0.0,0.0
194,194,1166,Vanuatu,total arrivals,thousands,350.2,256.0,82.4,NaN,65.000,188.400000,No Go,-15.376706,166.959158,0.0,0.0

Trialling skipping a row that has been determined as a no-go destination i.e. American Samoa, index 2

In [5]:
nogo_list = df.index[df['Recommendation'] == 'No Go'].tolist()

In [23]:
# Trialling weather function to see if it is successful in skipping index 2 (American Samoa)
dates = ['2024-06-06', '2023-06-06', '2022-06-06', '2021-06-06']

def trial_index_avg_weather(dates):
    temps = [] 
    total_rain = []

    # Ensuring index 2 gets looped through
    for i in range(3):
        lat = df.loc[i,'latitude']
        lon = df.loc[i,'longitude']

        # index 2 should be skipped in if statement
        if i in nogo_list:
            pass 
        else:
            for j in dates:
                date = j
                weather_data = data(lat, lon, date)
                temp_12pm = (weather_data['temperature']['afternoon']) 
                rain = (weather_data['precipitation']['total'])

                temps.append(temp_12pm)
                total_rain.append(rain)
            
                avg_temp = round(sum(temps) / len(temps))        
                avg_rainfall = round(sum(total_rain) / len(total_rain), 1)
        
            df.loc[i, 'avg_temp'] = avg_temp
            df.loc[i, 'avg_rainfall'] = avg_rainfall


trial_index_avg_weather(dates)

In [24]:
df

,Unnamed: 0.1,Unnamed: 0,Country,Arrivals,Units,2018,2019,2020,2021,2022,Mean Total Arrivals,Recommendation,latitude,longitude,avg_temp,avg_rainfall
0,0,2,Albania,total arrivals,thousands,5927.0,6406.0,2658.0,5689.0,7543.8,5644.76,Go,41.153332,20.168331,28.0,1.8
1,1,8,Algeria,total arrivals,thousands,2657.0,2371.0,591.0,125.0,1398.0,1428.40,Go,28.033886,1.659626,34.0,0.9
2,2,14,American Samoa,total arrivals,thousands,51.8,58.6,0.9,NaN,NaN,37.10,No Go,-14.270972,-170.132217,0.0,0.0
3,3,20,Andorra,total arrivals,thousands,8328.0,8235.0,5207.0,5422.0,8426.7,7123.74,Go,42.546245,1.601554,0.0,0.0
4,4,26,Angola,total arrivals,thousands,218.0,218.0,64.0,64.0,130.0,138.80,No Go,-11.202692,17.873887,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,193,1160,Uzbekistan,total arrivals,thousands,5346.0,6749.0,1504.0,1881.0,5233.0,4142.60,Go,41.377491,64.585262,0.0,0.0
194,194,1166,Vanuatu,total arrivals,thousands,350.2,256.0,82.4,NaN,65.0,188.40,No Go,-15.376706,166.959158,0.0,0.0
195,195,1172,Viet Nam,total arrivals,thousands,15498.0,18009.0,3837.0,157.0,3661.0,8232.40,Go,0.000000,0.000000,0.0,0.0
196,196,1178,Zambia,total arrivals,thousands,1072.0,1266.0,502.0,554.0,NaN,848.50,Go,-13.133897,27.849332,0.0,0.0
197,197,1184,Zimbabwe,total arrivals,thousands,2580.0,2294.0,639.0,381.0,1044.0,1387.60,Go,-19.015438,29.154857,0.0,0.0

The function has skipped index 2, American Samoa and has left avg_temp and avg_rainfall at 0, reducing unneccessary API calls.

In [25]:
# Using function to iterate through entire dataframe, passing rows that are in the no go list
dates = ['2024-06-06', '2023-06-06', '2022-06-06', '2021-06-06']

def avg_weather(dates):
    temps = [] 
    total_rain = []

    for i in range(len(df)):
        lat = df.loc[i,'latitude']
        lon = df.loc[i,'longitude']

        if i in nogo_list:
            pass 
        else:
            for j in dates:
                date = j
                weather_data = data(lat, lon, date)
                temp_12pm = (weather_data['temperature']['afternoon']) 
                rain = (weather_data['precipitation']['total'])

                temps.append(temp_12pm)
                total_rain.append(rain)
            
                avg_temp = round(sum(temps) / len(temps))        
                avg_rainfall = round(sum(total_rain) / len(total_rain), 1)
        
            df.loc[i, 'avg_temp'] = avg_temp
            df.loc[i, 'avg_rainfall'] = avg_rainfall


avg_weather(dates)

In [27]:
df.sample(30)

,Unnamed: 0.1,Unnamed: 0,Country,Arrivals,Units,2018,2019,2020,2021,2022,Mean Total Arrivals,Recommendation,latitude,longitude,avg_temp,avg_rainfall
99,99,596,Lebanon,total arrivals,thousands,1964.0,1936.0,414.0,890.0,1466.0,1334.000000,No Go,33.854721,35.862285,0.0,0.0
175,175,1052,Tajikistan,total arrivals,thousands,1035.0,1257.0,351.0,296.0,NaN,734.750000,Go,38.861034,71.276093,25.0,2.2
173,173,1040,Syrian Arab Republic,total arrivals,thousands,1802.0,2424.0,479.0,661.0,NaN,1341.500000,No Go,0.000000,0.000000,0.0,0.0
76,76,458,Guyana,total arrivals,thousands,287.0,315.0,86.5,158.3,288.0,226.960000,Go,4.860416,-58.930180,26.0,2.9
129,129,776,Nicaragua,total arrivals,thousands,1412.0,1455.0,474.0,312.4,932.7,917.220000,Go,12.865416,-85.207229,25.0,2.2
64,64,386,France,total arrivals,thousands,211998.0,217877.0,117109.0,141297.0,NaN,172070.250000,Go,46.227638,2.213749,25.0,3.1
143,143,860,Poland,total arrivals,thousands,85946.0,88515.0,51076.0,51026.0,71814.0,69675.400000,Go,51.919438,19.145136,25.0,2.3
79,79,476,"Hong Kong, China",total arrivals,thousands,65148.0,55913.0,3569.0,91.4,604.6,25065.200000,Go,0.000000,0.000000,0.0,0.0
58,58,350,El Salvador,total arrivals,thousands,2536.0,2639.0,707.0,1436.0,2541.0,1971.800000,Go,13.794185,-88.896530,26.0,3.5
194,194,1166,Vanuatu,total arrivals,thousands,350.2,256.0,82.4,NaN,65.0,188.400000,No Go,-15.376706,166.959158,0.0,0.0
36,36,218,Central African Republic,total arrivals,thousands,109.0,87.0,34.6,NaN,NaN,76.866667,No Go,6.611111,20.939444,0.0,0.0
100,100,602,Lesotho,total arrivals,thousands,1173.0,1142.0,NaN,279.0,NaN,864.666667,Go,-29.609988,28.233608,25.0,2.6
119,119,716,Montenegro,total arrivals,thousands,2077.0,2510.0,351.0,1554.0,2036.0,1705.600000,Go,42.708678,19.374390,25.0,2.3
15,15,92,Bangladesh,total arrivals,thousands,267.0,323.0,182.0,135.0,NaN,226.750000,Go,23.684994,90.356331,26.0,1.4
118,118,710,Mongolia,total arrivals,thousands,598.0,637.0,66.9,39.2,301.0,328.420000,Go,46.862496,103.846656,25.0,2.3
34,34,206,Canada,total arrivals,thousands,31274.0,32430.0,5068.0,4282.1,17924.0,18195.620000,Go,56.130366,-106.346771,26.0,2.3
49,49,296,Curaçao,total arrivals,thousands,1210.0,1293.0,436.0,418.0,1034.2,878.240000,Go,0.000000,0.000000,0.0,0.0
180,180,1082,Tonga,total arrivals,thousands,77.3,94.0,11.5,0.2,22.3,41.060000,No Go,-21.178986,-175.198242,0.0,0.0
62,62,374,Fiji,total arrivals,thousands,1058.0,969.0,168.0,32.0,652.0,575.800000,Go,-16.578193,179.414413,25.0,3.3
135,135,812,Norway,total arrivals,thousands,5688.0,5879.0,1397.0,1435.0,4979.4,3875.680000,No Go,60.472024,8.468946,0.0,0.0
160,160,962,Sierra Leone,total arrivals,thousands,66.0,71.0,26.0,44.0,NaN,51.750000,No Go,8.460555,-11.779889,0.0,0.0
43,43,260,"Congo, Democratic Republic Of The",total arrivals,thousands,392.0,479.0,202.0,382.0,NaN,363.750000,Go,0.000000,0.000000,0.0,0.0
132,132,794,Niue,total arrivals,thousands,10.5,10.2,1.3,0.2,NaN,5.550000,No Go,-19.054445,-169.867233,0.0,0.0
136,136,818,Oman,total arrivals,thousands,3242.0,3506.0,869.0,652.0,2920.0,2237.800000,Go,21.512583,55.923255,25.0,2.1
114,114,686,Mexico,total arrivals,thousands,96497.0,97406.0,51128.0,55301.0,65995.0,73265.400000,No Go,23.634501,-102.552784,0.0,0.0
31,31,188,Cabo Verde,total arrivals,thousands,710.0,758.0,180.0,135.0,785.0,513.600000,Go,0.000000,0.000000,0.0,0.0
6,6,38,Antigua And Barbuda,total arrivals,thousands,1064.0,1035.0,276.0,250.0,642.4,653.480000,Go,0.000000,0.000000,0.0,0.0
12,12,74,Azerbaijan,total arrivals,thousands,2850.0,3170.0,796.0,792.0,1602.0,1842.000000,Go,40.143105,47.576927,24.0,0.7
84,84,506,"Iran, Islamic Republic Of",total arrivals,thousands,7295.0,9107.0,1550.0,989.0,4108.0,4609.800000,No Go,0.000000,0.000000,0.0,0.0
151,151,908,Saint Kitts And Nevis,total arrivals,thousands,1278.0,1107.0,301.4,122.6,589.1,679.620000,Go,0.000000,0.000000,0.0,0.0

Need to get weather data for Greece separately as weather data for new, quieter destinations need to be compared to Greece

In [6]:
# Finding index in dataframe for Greece
gr_index = df.index[df['Country'] == 'Greece'].tolist()

# Creating a list for the index so this can be iterated through in weather function
old_dest = []
for i in gr_index:
    old_dest.append(i)

print(old_dest)

[70]

In [48]:
# Using function to get weather data for Greece
dates = ['2024-06-06', '2023-06-06', '2022-06-06', '2021-06-06']

def gr_weather(dates):
    temps = [] 
    total_rain = []

    for i in old_dest:
        lat = df.loc[i,'latitude']
        lon = df.loc[i,'longitude']
        for j in dates:
            date = j
            weather_data = data(lat, lon, date)
            temp_12pm = (weather_data['temperature']['afternoon']) 
            rain = (weather_data['precipitation']['total'])

            temps.append(temp_12pm)
            total_rain.append(rain)

            # Calculating mean averages of temperatures and rainfall
            avg_temp = round(sum(temps) / len(temps))        
            avg_rainfall = round(sum(total_rain) / len(total_rain), 1)
        
        df.loc[i, 'avg_temp'] = avg_temp
        df.loc[i, 'avg_rainfall'] = avg_rainfall


gr_weather(dates)

In [51]:
# Checking weather data for Greece has been added
print(df[df['Country'] == 'Greece'])

    Unnamed: 0.1  Unnamed: 0 Country        Arrivals      Units     2018  \
70            70         422  Greece  total arrivals  thousands  33072.0

       2019    2020     2021     2022  Mean Total Arrivals Recommendation  \
70  34005.0  7406.0  15246.0  29876.0              23921.0          No Go

     latitude  longitude  avg_temp  avg_rainfall
70  39.074208  21.824312      26.0           0.8
     Unnamed: 0.1  Unnamed: 0 Country        Arrivals      Units      2018  \
167           167        1004   Spain  total arrivals  thousands  124456.0

         2019     2020     2021      2022  Mean Total Arrivals Recommendation  \
167  126170.0  36410.0  51631.0  104968.0              88727.0          No Go

      latitude  longitude  avg_temp  avg_rainfall
167  40.463667   -3.74922      25.0           0.4

In [59]:
# Tidying up dataframe
df.rename(columns={'latitude': 'Latitude', 'longitude': 'Longitude', 'avg_temp': 'Avg Temp(°C)', 'avg_rainfall': 'Avg Rainfall(mm)'}, inplace = True)
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], errors='ignore')
df.head(15)

,Unnamed: 0.1,Unnamed: 0,Country,Arrivals,Units,2018,2019,2020,2021,2022,Mean Total Arrivals,Recommendation,Latitude,Longitude,Avg Temp(°C),Avg Rainfall(mm)
0,0,2,Albania,total arrivals,thousands,5927.0,6406.0,2658.0,5689.0,7543.8,5644.76,Go,41.153332,20.168331,28.0,1.8
1,1,8,Algeria,total arrivals,thousands,2657.0,2371.0,591.0,125.0,1398.0,1428.40,Go,28.033886,1.659626,34.0,0.9
2,2,14,American Samoa,total arrivals,thousands,51.8,58.6,0.9,NaN,NaN,37.10,No Go,-14.270972,-170.132217,0.0,0.0
3,3,20,Andorra,total arrivals,thousands,8328.0,8235.0,5207.0,5422.0,8426.7,7123.74,Go,42.546245,1.601554,28.0,0.7
4,4,26,Angola,total arrivals,thousands,218.0,218.0,64.0,64.0,130.0,138.80,No Go,-11.202692,17.873887,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,193,1160,Uzbekistan,total arrivals,thousands,5346.0,6749.0,1504.0,1881.0,5233.0,4142.60,Go,41.377491,64.585262,25.0,2.1
194,194,1166,Vanuatu,total arrivals,thousands,350.2,256.0,82.4,NaN,65.0,188.40,No Go,-15.376706,166.959158,0.0,0.0
195,195,1172,Viet Nam,total arrivals,thousands,15498.0,18009.0,3837.0,157.0,3661.0,8232.40,Go,0.000000,0.000000,0.0,0.0
196,196,1178,Zambia,total arrivals,thousands,1072.0,1266.0,502.0,554.0,NaN,848.50,Go,-13.133897,27.849332,25.0,2.1
197,197,1184,Zimbabwe,total arrivals,thousands,2580.0,2294.0,639.0,381.0,1044.0,1387.60,Go,-19.015438,29.154857,25.0,2.1

In [4]:
# # Writing results to a csv file
# df.to_csv('project_data/Complete_Weather_Data_For_Destinations.csv')